<div class="row right">
  <button class="open-button" {{action "showModal"}}>
    <span>Next cycle</span>
    <ion-icon name="arrow-dropright-circle"></ion-icon>
  </button>
</div>

{{#if showModal}}

  <div class="page-overlay">
    <div class="modal">

      <div class="row title">
        <span>Start New Cycle</span>
        <button class="close-button" {{action "closeModal"}}>
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>

      <label class="row">
        <span>Increase max values?</span>
        <Input @type="checkbox" @checked={{increaseMaxes}} />
      </label>

      {{#each liftModels as |lift|}}
        <div class={{if (not increaseMaxes) "row disabled" "row"}}>
          <span>{{capitalize lift.name}}</span>

          <div class="increment-group">
            <button class="increment"
              {{action "increment" lift -5}}
              disabled={{if (not increaseMaxes) "true"}} >
              -5
            </button>

            <span>{{lift.increase}}</span>

            <button class="increment"
              {{action "increment" lift 5}}
              disabled={{if (not increaseMaxes) "true"}} >
              +5
            </button>
          </div>
        </div>
      {{/each}}

      <div class="row footer">
        <button class="cancel" {{action "closeModal"}}>cancel</button>
        <button class="submit" {{action "submit"}}>
          <span>Start cycle</span>
          {{#if saving}}
            <div class="lds-dual-ring"></div>
          {{else}}
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          {{/if}}
        </button>
      </div>

    </div>
  </div>

{{/if}}