{{#if editingLifts}}

  {{#each @lifts as |lift|}}
    <div class="row">
      <button class="delete-lift" {{action "deleteLift" lift}}>
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
      <Input class="lift-input name" @value={{lift.name}} />
      <Input class="lift-input max" @type="number" @value={{lift.max}} />
    </div>
  {{/each}}

  <div class="row">
    <button class="cancel-new-lift" {{action "cancelNewLift"}}>
      <ion-icon name="close-circle-outline"></ion-icon>
    </button>
    <Input class="lift-input name" @placeholder="name" @value={{newLiftName}} />
    <Input class="lift-input max" @placeholder="45" @type="number" @value={{newLiftMax}} />
    <button class="save-new-lift" {{action "saveNewLift" newLiftName newLiftMax}}>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
  </div>

  <div class="row">
    <button class="cancel-edit" {{action "cancelEdit"}}>
      Cancel <ion-icon name="close"></ion-icon>
    </button>
    <button class="save-edit" {{action "saveEdit"}}>
      Save <ion-icon name="save"></ion-icon>
    </button>
  </div>

{{else}}

  {{#each @lifts as |lift|}}
    <div class="row">
      <button class="increment" {{action "decreaseLift" lift}}>-5</button>
      <span class="name">{{capitalize lift.name}}</span>
      <span class="max">{{lift.max}}</span>
      <button class="increment" {{action "increaseLift" lift}}>+5</button>
    </div>
  {{/each}}

  <div class="row right">
    <button class="add-item" {{action "showEdit"}}>
      <ion-icon name="create"></ion-icon> edit
    </button>
  </div>

{{/if}}