{{#if editingLifts}}

  {{#each lifts as |lift|}}
    <div class="row">
      <div class="delete-container">
        <ConfirmDelete @deleteAction={{action "deleteLift" lift}} />
      </div>
      <Input class="lift-input name-input" @value={{lift.name}} @placeholder="name" />
      <Input class="lift-input max-input" @type="number" @value={{lift.max}} @placeholder="45" />
    </div>
  {{/each}}

  {{#each pendingLifts as |lift|}}
    <div class="row">
      <div class="delete-container">
        <ConfirmDelete @deleteAction={{action "deletePending" lift}} />
      </div>
      <Input class="lift-input name-input" @value={{lift.name}} @placeholder="name" />
      <Input class="lift-input max-input" @type="number" @value={{lift.max}} @placeholder="45" />
    </div>
  {{/each}}

  <div class="row right">
    <button class="add-empty-lift" {{action "addEmptyLift"}}>
      <ion-icon name="add-circle-outline"></ion-icon>
    </button>
  </div>

  <div class="row spread">
    <button class="cancel-edit" {{action "cancelEdit"}}>
      <ion-icon name="close-circle-outline"></ion-icon> cancel
    </button>
    <button class="save-edit" {{action "saveEdit"}}>
      <ion-icon name="save"></ion-icon> save
    </button>
  </div>

{{else}}

  {{#each lifts as |lift|}}
    <div class="row">
      <button class="increment" {{action "addToLift" lift -5}}>-5</button>
      <span class="name">{{capitalize lift.name}}</span>
      <span class="max">{{lift.max}}</span>
      <button class="increment" {{action "addToLift" lift 5}}>+5</button>
    </div>
  {{/each}}

  <div class="row right">
    <button class="edit" {{action "showEdit"}}>
      <ion-icon name="create"></ion-icon> edit
    </button>
  </div>

{{/if}}