<div class="row title">
  <span class="name">{{@workoutSet.name}}</span>
  <span class="icon">
    {{#if @isCompleted}}
      <ion-icon name="checkmark-circle"></ion-icon>
    {{/if}}
  </span>
</div>

{{#each @workoutSet.movements as |movement|}}
  <div class="row lift">
    <span class="weight">{{movement.weight}}</span>
    <span class="label">lbs</span>
    <span class="count">x{{movement.reps}}{{if movement.plusSet "+"}}</span>
    <span class="plates">[ {{join ", " movement.plates}} ]</span>
  </div>
{{/each}}