{{#if showForm}}

  <div class="row">
    <div class="column top">
      <button class="cancel" {{action "cancel"}}>
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <div class={{if isDeload "column disabled" "column"}}>
      <div class="row center">
        <label for="track-weight">Weight</label>
        <Input class="weight-input" type="number"
          @id="track-weight" @value={{weight}}
          @disabled={{if isDeload "true"}} />
      </div>
      <div class="row center">
        <label for="track-reps">Reps</label>
        <Input  class="reps-input" type="number"
          @id="track-reps" @value={{reps}}
          @disabled={{if isDeload "true"}} />
      </div>
      {{#if (not isDeload)}}
        <div class="row center">
          <label>Max estimate</label>
          <span class="estimate">{{estimate}}</span>
        </div>
      {{/if}}
    </div>

    <div class="column bottom">
      <button class="submit" {{action "submit"}}>
        <ion-icon name="save"></ion-icon>
      </button>
    </div>
  </div>

{{else if saving}}

  <div class="pull-right">
    <div class="lds-dual-ring"></div>
  </div>

{{else if showSuccess}}

  <div class="pull-right">
    <div class="success-indicator">
      <ion-icon name="checkmark"></ion-icon>
    </div>
  </div>

{{else}}

  <div class="pull-right">
    <button class="open" {{action "openForm"}}>
      <ion-icon name="create"></ion-icon>
    </button>
  </div>

{{/if}}