<TitleBar @title="Settings" @settingsNavsBack={{true}} />

<div class="settings-view">
  <div class="tabs">
    <button class={{if showAccountTab "active"}} {{action "showAccountTab"}}>Account</button>
    <button class={{if showLiftsTab "active"}} {{action "showLiftsTab"}}>Lifts</button>
    <button class={{if showBarLoadingTab "active"}} {{action "showBarLoadingTab"}}>Weights</button>
  </div>

  {{#if showAccountTab}}
    <SettingsAccountControl @email={{model.email}} />
  {{else if showLiftsTab}}
    <SettingsLiftsControl @model={{model.lifts}} />
  {{else if showBarLoadingTab}}
    <SettingsBarLoadingControl @model={{model.barLoading}} />
  {{/if}}
</div>