<TitleBar @title="Settings" @settingsNavsBack={{true}} />

<div class="settings-view">
  <div class="account-info row">
    <label>{{session.data.authenticated.user.email}}</label>
    <button class="logout" {{action "signOut"}}><ion-icon name="log-out"></ion-icon></button>
  </div>

  <div class="lifts">
    {{#each model as |lift|}}
      <div class="row">
        <button class="increment" {{action "decreaseLift" lift}}>-5</button>
        <span class="lift">{{capitalize lift.name}}</span>
        <span class="max">{{lift.max}}</span>
        <button class="increment" {{action "increaseLift" lift}}>+5</button>
      </div>
    {{/each}}

    <div class="row">
      {{#if creatingLift}}
        <button class="cancel-new-lift" {{action "cancelNewLift"}}>
          <ion-icon name="close-circle-outline"></ion-icon>
        </button>
        <Input class="new-lift-input new-name" @placeholder="name" @value={{newLiftName}} />
        <Input class="new-lift-input new-max" @placeholder="45" @type="number" @value={{newLiftMax}} />
        <button class="save-new-lift" {{action "saveNewLift" newLiftName newLiftMax}}>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>
      {{else}}
        <button class="add-item" {{action "showliftInput"}}>
          Add Lift <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      {{/if}}
    </div>
  </div>

  <div class="plates">
    <div class="row title">Plates</div>
    <div class="row">
      {{#each model.specifications.plates as |plate|}}
        <span>{{plate}}</span>
      {{/each}}

      <button class="add-item inline" {{action "newPlate"}}>
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </div>
  </div>

  <div class="bar">
    <div class="row title">Bar</div>
    <div class="row">
      <button class="increment" {{action "decreaseBar"}}>-5</button>
      <span class="max">{{model.specifications.bar}}</span>
      <button class="increment" {{action "increaseBar"}}>+5</button>
    </div>
  </div>
</div>