<TitleBar @title="Settings" @settingsNavsBack={{true}} />

<div class="settings-view">
  <div class="account-info row">
    <label>{{session.data.authenticated.user.email}}</label>
    <button class="logout" {{action "signOut"}}><ion-icon name="log-out"></ion-icon></button>
  </div>

  {{#each model.lifts as |lift|}}
    <div class="row">
      <button {{action "decreaseLift" lift.name}}>-5</button>
      <span class="lift">{{capitalize lift.name}}</span>
      <span class="max">{{lift.max}}</span>
      <button {{action "increaseLift" lift.name}}>+5</button>
    </div>
  {{/each}}
</div>