<TitleBar @title="Settings" @settingsNavsBack={{true}} />

<div class="account-info">
  <label>
    {{session.data.authenticated.user.email}}
    <button {{action "signOut"}}>Logout</button>
  </label>
</div>

<div class="settings-view">
  {{#each model.lifts as |lift|}}
    <div class="row">
      <button {{action "decreaseLift" lift.name}}>-5</button>
      <span class="lift">{{capitalize lift.name}}</span>
      <span class="max">{{lift.max}}</span>
      <button {{action "increaseLift" lift.name}}>+5</button>
    </div>
  {{/each}}
</div>