<TitleBar @title={{capitalize model}} />

<ul>
  <li><LinkTo @route="lift" @models={{array model "squat"}}>Squat</LinkTo></li>
  <li><LinkTo @route="lift" @models={{array model "bench"}}>Bench</LinkTo></li>
  <li><LinkTo @route="lift" @models={{array model "deadlift"}}>Deadlift</LinkTo></li>
  <li><LinkTo @route="lift" @models={{array model "press"}}>Press</LinkTo></li>
</ul>